<p id="notice"><%= notice %></p>

<h1>ユーザー一覧</h1>

<form class="search" action="" post="post">
  <input class="search-bar" type="text">
  <input class="search-botton" type="submit" value="検索">
</form>

<table align="center">
  <thead>
    <tr>
      <th>ユーザー名</th>
    </tr>
  </thead>

  <tbody align="center">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
