// Place all the styles related to the InvitationRelations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.relation-top{
  margin: 50px auto;
}

table.invited-info-table {
  width: 850px;
  margin: 0 auto;
  border-collapse:  collapse; /* セルの線を重ねる */
  th, td{
    padding: 30px 0px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
  }
  td{
    padding: 5px 5px
  }
  tbody{
    tr{
      margin: 20px 0;
      &:nth-child(odd){
        background-color:  #e8e8e8;    /* 背景色指定 */
      }
      td.td-sender{
        div.td1-image{
          display: inline-block;
          margin-right: 10px;
          img{
            object-fit: cover;
          }
        }
        a{
          display: inline-block;
          text-align: left;
          font-size: 1.2rem;
          position: relative;
          top: -33px;
        }
      }
      td.td-contents{
        font-size: 1.2rem;
      }
      td.td-members{
        .every-member-area{
          display: flex;
          margin-bottom: 5px;
          .td3-image{
            img{
              object-fit: cover;
            }
          }
          .td-member{
            display: inline-block;
            font-size: 1.2rem;
            position: relative;
            top: 10px;
          }
        }
      }
      td.td-remain{
        text-align: center;
      }
    }
  }

}
