// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-new-form {
  width: 600px;
  margin: 0 auto;


  .form-field {
    text-align: center;
    margin: 30px auto;

    .name-label, .email-label, .password-label{
      font-size: 1.2rem;
      color: #5e666e !important;
      width: 150px;
      display: inline-block;
    }
    input {
      height: 25px;
      width: 250px;
      border: 1px solid #5e666e;
      border-radius: 4px;
      padding: 5px;
      &.edit-image-field {
          border: none;
      }
    }
    .edit-submit1 {
      cursor: pointer;
      margin: 30px;
      width: 250px;
      height: 40px;
      background-color: #00558F;
      color: white;
    }
    .edit-submit2 {
      cursor: pointer;
      border: 1px solid #5e666e;
      border-radius: 4px;
      margin: 30px;
      width: 250px;
      height: 40px;
      background-color: #00A4BB;
      color: white;
    }
  }

  .show-image{
    margin: 0 auto;
    text-align: center;
    img{
      object-fit: cover;
      border-radius: 60px;
    }
  }
}
